@use '../globals/' as *;
@use '../utils/' as *;

.why {
  padding-top: responsive(375px, 1440px, 70px, 113px);

	text-align: center;

	&__container {
		display: flex;
		flex-direction: column;
		align-items: center;
      @media (min-width: 768px) {
         align-items: flex-start;
      }
	}

	&__header {
		@media (min-width: 900px) {
			width: 60%;
		}
		margin-bottom: 75px;
	}

	&__columns {
		@extend %responsive-grid;

		gap: 27px;
	}
}

.why-column {
	text-align: center;
	&__image {
		margin-bottom: responsive(375px, 1440px, 30px, 45px);
	}
   @media (min-width: 900px) {
      text-align: left;
   };
}
