@use 'variables' as *;
@use '../utils/' as *;

body {
   font-family: 'Public Sans', sans-serif;
   color: $color-grayish-blue;
   font-size: 18px;
}

a {
   font-size: 16px;
}

h1, h2, h3, h4 {
   color: $color-dark-blue;
   margin-bottom: responsive(375px, 1440px, 27px, 35px);
}

h1 {
   font-size: useRatio(53px, $h1-font-height-devices-ratio);
   font-weight: 300;
}

h2 {
   font-size: useRatio(40px, $h2-font-height-devices-ratio);
   font-weight: 400;
}

p {
   font-size: useRatio(18px, $p1-font-height-devices-ratio);
   line-height: 1.5;
}

.text-smallest {
   p {
      font-size: 0.7em;
   }
   h1 {
      font-size: 0.9em;
      margin-bottom: 14px;
   }
}

p, h1, h2 {
   .no-align & {
      text-align: left;
   }

   text-align: center;
   @media (min-width: 767px) {
      text-align: left;
   }
}